<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blodoboro</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Blobodoro</h1>
    <div class="timer">
        <div class="clock">
            <span id="min">00</span>
            <span id="seperator">:</span>
            <span id="sec">00</span>
        </div>
        <div class="buttons">
            <button id="start-button">Start</button>
            <button id="stop-button">Stop</button>
            <button id="save-button">Save</button>
        </div>
    </div>
    <img src="img/Blobodoro-Logo-V7.png" width="200">
    <script src="js/main.js"></script>
</body>

</html>